/*

	  _      _           __  __        _______          _     
	 | |    (_)         |  \/  |      |__   __|        | |    
	 | |     ___   _____| \  / | ___     | | ___   ___ | |___ 
	 | |    | \ \ / / _ \ |\/| |/ _ \    | |/ _ \ / _ \| / __|
	 | |____| |\ V /  __/ |  | |  __/    | | (_) | (_) | \__ \
	 |______|_| \_/ \___|_|  |_|\___|    |_|\___/ \___/|_|___/
		
							Custom UI CSS


*/
@import url(../fonts/sourcesans/stylesheet.css);

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;		
	-webkit-transition: 0.3s all;
	font-family: 'source-sans-pro',Arial,Helvetica,sans-serif;
}

::-webkit-input-placeholder { 
    color: rgba(255,255,255,0.20);
}

body {
	margin: 0;
	padding: 0;
	background: #4a4d4e;
	color: #f0f0f2;
	cursor: default;	
	overflow: hidden;
}

h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; }

p { 
	font-weight: 300;
	font-size: 10pt;
}

header {
	display: block;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background-color: #303233;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
header img {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 12px;
	cursor: pointer;
	opacity: 0.4;
}

header img.close-icon { right: 12px; }
header img.settings-icon { right: 44px; }
header img.favorites-icon { right: 76px; }

header img:hover {
	opacity: 0.9;
}

header h1, header h4 {
	display: inline-block;
	font-size: 16pt;
	font-weight: 300;
	color: rgba(255,255,255,0.5);
	margin: 0 24px 0 12px;
	padding: 2px 0 0;
	vertical-align: top;
}
header h1 small {
	font-size: 10pt;
	font-weight: 400;
	font-style: italic;
	position: relative;
	top: 4px;
	left: 4px;
}

header .search {
	display: inline-block;
	height: 40px;
	vertical-align: top;
}
header .search input, header .search .select { margin-bottom: 5px; }
header .search .select { width: 120px; }
header .search input[type=search] { width: 400px; }
header .search input[type=text] { width: 65px; text-align: center; }

header.small {
	line-height: 24px;
	height: 24px;
}
header.small h1, header.small h4 {
	display: block;
	height: 24px;
	line-height: 24px;
	font-size: 11pt;
	font-weight: 400;
	letter-spacing: 0.04em;
	width: calc(100% - 48px);
	overflow: hidden;
	text-overflow: ellipsis;	
}
header.small .close-icon {
	top: 4px;
	right: 4px;
}

header.small.transparent, header.small.transparent > * {
	opacity: 0;
}
header.small.transparent:hover {
	opacity: 1;
}
header.small.transparent:hover > * {
	opacity: 1;
}
body:hover > header.small.transparent {
	opacity: 1;
}
body:hover > header.small.transparent > * {
	opacity: 1;
}


.inset {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
}


#main, #overlay {
	display: block;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#overlay {
	display: none;
	background: rgba(0,0,0,0) url(../images/wait.gif) center no-repeat;
	z-index: 10;
}

.emptylist {
	display: block;
	width: 320px;
	height: 24px;
	line-height: 24px;
	margin: -12px 0 0 -160px;
	position: absolute;
	top: 50%;
	left: 50%;

	letter-spacing: 0.02em;
	text-align: center; 
	font-size: 12pt;
	font-weight: 300; 
	font-style: italic;
	color: rgba(255,255,255,0.25);
}



#queuelist {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

#queuelist .entry {
	display: block;
	border-radius: 8px;
	line-height: 32px;
	font-size: 10pt;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: rgba(0,0,0,0.25);
	color: rgba(255,255,255,0.3);
	margin: 4px;
	padding: 0 4px 0 32px;
}
#queuelist .entry.active {
	background: rgba(0,160,0,0.2) url('../images/ic_file_download_white_24px.svg') 4px 4px no-repeat;
	background-size: 24px 24px;
	color: rgba(255,255,255,0.9);
}
#queuelist .entry.active > img { opacity: 0; }




#userinfo {
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	display: block;
	width: 179px;

	background-color: rgba(0,0,0,0.2);
	text-align: center;

	padding: 20px 0 0;
}
#userinfo h3 {
	display: inline-block;
	text-overflow: ellipsis;	
	font-size: 12pt;
	font-weight: 300;
	letter-spacing: 0.03em;
	display: block;
	width: 180px;
	margin: 0 auto 8px;
}
#userinfo .avatar { 
	display: inline-block;
	width: 160px;
	height: 160px;
	border-radius: 80px;
}

#userinfo label {
	display: block;
	font-size: 9pt;
	font-weight: 400;
	padding: 12px 10px 2px;
	color: rgba(255,255,255,0.5);
}

#userinfo h4 { font-size: 12pt; font-weight: 300; color: rgba(255,255,255,0.5); padding: 12px 0 16px; }
#userinfo input[type=text] { width: 140px; text-align: center; }
#userinfo input[type=button] {
	display: inline-block;
	width: 140px;
	margin: 0 0 16px;
}

#userinfo input[type=button]#favorites_button {
	width: 100px;
	height: 32px;
	border-radius: 5px;
	border: none;
	text-align: left;
	padding: 0 8px 0 40px;
	background: transparent;
	background-image: url(../images/ic_favorite_border_white_24px.svg);
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 8px 4px;
	color: rgba(255,255,255,0.8);
	opacity: 0.3;
	box-shadow: none;
}

#userinfo input[type=button]#favorites_button:hover { opacity: 0.5; }

#userinfo input[type=button]#favorites_button.active {
	background-image: url(../images/ic_favorite_white_24px.svg);
	color: rgba(255,255,0,0.8);
	opacity: 0.9;
}
#userinfo input[type=button]#favorites_button.active:hover { opacity: 1; }

#videolist, #userlist {
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 180px;
	overflow-x: hidden;
	overflow-y: auto;
}
#userlist { left: 0; }


#video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#small_user_list {
	display: block;
	position: absolute;
	top: 24px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}




.message {
	display: block;
	padding: 4px;
	margin: 8px;
	background-color: #595b5b;
	border-radius: 8px;
	position: relative;
}

.message .author {
	position: absolute;
	top: 2px;
	left: 8px;
	font-size: 9pt;
	font-weight: 600;
	color: rgba(255,255,255,0.4);
}
.message .time {
	position: absolute;
	top: 2px;
	right: 8px;
	z-index: 2;
	font-size: 9pt;
	font-weight: 600;
	line-height: 16px;
	color: rgba(255,255,255,0.4);
}
.message .content {
	display: block;
	font-size: 12pt;
	font-weight: 400;
	vertical-align: top;
	color: rgba(255,255,255,0.7);
	padding: 24px 16px 8px;
}
.message.highlight { background-color: rgba(255,224,0,0.15); }





.user_entry {
	display: block;
	height: 100px;
	width: calc(100%-10px);
	margin: 10px 5px;

	position: relative;
	background-color: #595b5b;

	border-radius: 50px;
}

.user_entry .avatar {
	display: block;
	width: 100px;
	height: 100px;

	border: solid 5px #000;
	border-radius: 50px;

	position: absolute;
	left: 0;
	top: 0;
}
.user_entry.male > .avatar { border-color: #89CFF0; }
.user_entry.female > .avatar { border-color: #F9CCCA; }


.user_entry h4 {
	position: absolute;
	left: 110px;
	top: 10px;
	font-size: 14pt;
	line-height: 20px;
	font-weight: 400;
	color: #eaebed;
	letter-spacing: 0.04em;
}
.user_entry .userid {
	position: absolute;
	top: 35px;
	line-height: 30px;
	left: 210px;
	font-size: 10pt;
	font-weight: 400;
	color: #eaebed;
}
.user_entry .level {
	position: absolute;
	top: 35px;
	left: 115px;
	font-size: 10pt;
	line-height: 30px;
	font-weight: 400;
	color: #eaebed;
}
.user_entry input[type=button].user { position: absolute; top: 35px; left: 260px; width: 150px; }
.user_entry input[type=button].fans { position: absolute; top: 35px; right: 24px; width: 120px; }
.user_entry input[type=button].followings { position: absolute; top: 35px; right: 160px; width: 120px; }

.user_entry.small {
	height: 60px;
	border-radius: 30px;	
}
.user_entry.small .avatar {
	height: 60px;
	width: 60px;
	border-radius: 30px;
	top: -2px;
	left: -2px;
	z-index: 5;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.user_entry.small h4 {
	top: 19px;
	left: 65px;
	font-size: 12pt;
	line-height: 20px;
}
.user_entry.clickable {
	cursor: pointer;
	border: solid 2px rgba(0,0,0,0);
}
.user_entry.clickable:hover { border-color: rgba(0,224,224,0.8); }

.video_list {
	display: none;
	padding: 0 10px 10px 120px;
	margin-bottom: 0;
}






.video_entry {
	display: block;
	height: 100px;
	width: calc(100%-25px);
	margin: 10px;
	background-color: #595b5b;
	border-radius: 5px;
	position: relative;
}

.video_entry .date {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 9pt;
	font-weight: 400;
	color: rgba(255,255,255,0.4);
}

.video_entry .title {
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 12pt;
	font-weight: 400;
	letter-spacing: 0.04em;
	line-height: 25px;
}
.video_entry.highlight > .title { color: rgb(255,255,80); }

.video_entry .url {
	position: absolute;
	display: block;
	left: 10px;
	top: 65px;
	width: 750px;
	height: 26px;
	line-height: 26px;
	font-size: 10pt;
	font-weight: 300;
	color: rgba(255,255,255,0.7);
	text-decoration: none;
	text-align: center;
	border: solid 1px rgba(255,255,255,0.2);
}

.video_entry .chat {
	position: absolute;
	top: 24px;
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
	padding: 4px;
	opacity: 0.4;
}
.video_entry .chat:hover {
	background-color: rgba(0,0,0,0.3);
	opacity: 0.8;
}

.video_entry .chat { right: 58px; }


.video_entry.highlight > .url { color: rgb(255,255,80); }

.video_entry .counts {
	position: absolute;
	top: 35px;
	left: 10px;
}
.video_entry .counts label {
	color: rgba(255,255,255,0.3);
	font-size: 9pt;
	font-weight: 400;
	margin-right: 4px;
}

.video_entry .counts span {
	color :rgba(255,255,255,0.6);
	font-size: 11pt;
	font-weight: 300;
	display: inline-block;
	width: 60px;
	margin-right: 24px;
	padding-left: 4px;
}



input, .select {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	vertical-align: bottom;
}

input[type="search"],input[type="text"] {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 10pt;
	font-weight: 300;

	padding: 0 4px;

	color: #ced1d3;
	background: #595b5b;
	border: 1px solid #333434;
	border-radius: 4px;

	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
}
input[type="search"] {
	padding: 0 4px 0 20px;
	background: #595b5b url("../images/search.svg") 4px no-repeat;
	background-clip: padding-box;
	background-size: 12px;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type=button] {
	display: inline-block;
	height: 30px;
	line-height: 29px;
	font-size: 10pt;
	font-weight: 400;
	background-color: #494b4b;
	color: #949697;
	border: 1px solid #333434;
	border-radius: 4px;
	padding: 0 10px;
	box-shadow: inset 0 1px 1px #737373, inset 0 -1px 1px #333;
	cursor: pointer;
}

input[type=button]:hover {
	background-color: #595b5b;
	color: #d8dadb;
}

input[type=button].small {
	height: 22px;
	line-height: 21px;
	font-size: 9pt;
	padding: 0 5px;
}



.select {
	display: inline-block;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	border: 1px solid #333434;
	border-radius: 5px;
	background: #595b5b url(../images/drop-down-triangle-dark.png) right no-repeat;

}

.select > select {
	display: block;
	position: relative;
	width: 112%;
	height: 29px;
	line-height: 29px;
	margin: 0;
	padding: 0 4px;
	padding-left: 9px;
	color: #c6c8c8;
	background: transparent;
	border: 0;
	font-size: 10pt;
	font-weight: 300;
	border: none;
}

.select > select:focus {
	z-index: 2;
	width: 100%;
	outline: none;
	-webkit-appearance: none;
}

.select option { text-shadow: none; background-color: #595b5b; color: #c6c8c8; }



.switch {
	display: inline-block;
	position: relative;
	width: 54px;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
}

.switch>label {
	display: block;
	position: relative;
	height: 21px;
	line-height: 19px;
	font-size: 8.5pt;
	color: #aaa;
	text-align: center;
	text-transform: uppercase;
	background: #595b5b;
	border: 1px solid #333434;
	border-radius: 11px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.06);
	-webkit-transition: padding-left 0.15s ease-out;
}

.switch>label:before {
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	background: #595b5b;
	border-radius: 11px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4), 1px 0 1px rgba(0,0,0,0.3);
}

.switch>label:after {
	content: attr(data-off);
	position: absolute;
	top: 0;
	right: 0;
	width: 33px
}

.switch>input {
	position: absolute;
	z-index: 0;
	top: 1px;
	left: 1px;
	width: 50px;
	height: 19px;
	padding: 0;
	opacity: 0;
	-webkit-appearance: none
}

.switch>input:focus {
	opacity: 1;
}

.switch>input:checked+label {
	padding-left: 33px;
	color: #ccc;
	background: #595b5b;
}

.switch>input:checked+label:after {
	content: attr(data-on);
	left: 0
}

